# Python cache (applies inside every app)
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Django stuff
*.log
*.pot
*.pyc




# Media and static files
/media/
staticfiles/
static/

# VS Code / PyCharm / IDE
.vscode/
.idea/

# Environment variables
*.env
.env.*

# Coverage / testing
.coverage
htmlcov/
.pytest_cache/

# System files
.DS_Store
Thumbs.db
